{% extends 'base.html' %} 
{% block page_title %}Daftar Notes{% endblock page_title %} 
{% block page_body %}
<div class="w-3/4 mx-auto mt-32">
  <div class="my-5 flex flex-col">
    <a href={% url 'index-lab4' %}>See lab4 index page</a>
  </div>
  <form method="POST">
  {% csrf_token %}
{% for field in form %}
<div class="{% if field.errors %}invalid{% endif %}">
{{field.label_tag}}
{{field}}
{{field.errors}}
</div>
{% endfor %}
    <button type="submit">submit</button>
  </form>
</div>
{% endblock page_body %}