{% extends 'base.html' %}
{% block page_title %}Daftar Notes{% endblock page_title %}
{% block page_body %}
<div class="w-full mt-10 md:w-3/4 mx-auto md:mt-32">
<div class="my-5 flex flex-col">
<a href={% url 'add-note' %}>Add Note</a>
<a href={% url 'index-lab4' %}>Lihat Tabel</a>
</div>
<div class="grid grid-cols-1 gap-2 md:gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
    {% for note in notes%}
    <div class="bg-blue-400 rounded-xl p-4 sm:p-2 md:p-6 text-white break-all">
        <h3 class="font-bold text-lg">Untuk:</h3>
        <h4>{{note.to}}</h4>
        <h3 class="font-bold text-lg">Dari:</h3>
        <h4>{{note.getFrom}}</h4>
        <h3 class="font-bold text-lg">Judul:</h3>
        <h4>{{note.title}}</h4>
        <h3 class="font-bold text-lg">Isi Pesan:</h3>
        <p>{{note.message}}</p>
    </div>
    {% endfor %}
</div>

</div>
{% endblock page_body %}

