{% extends 'base.html' %}
{% block page_title %}Daftar Notes{% endblock page_title %}
{% block page_body %}
<div class="w-full mt-10 md:w-3/4 mx-auto md:mt-32">
<div class="my-5 flex flex-col">
<a href={% url 'add-note' %}>Add Note</a>
<a href={% url 'card-lab4' %}>Lihat Card</a>
</div>
    <table class="table-fixed w-full">
    <thead>
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
    </thead>
    <tbody class="text-center break-all">
      {% for note in notes%}
        <tr>
          <td>{{note.to}}</td>
          <td>{{note.getFrom}}</td>
          <td>{{note.title}}</td>
          <td>{{note.message}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
</div>
{% endblock page_body %}

