@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
html{
    font-family: 'Roboto Slab', serif;
}
h1{
    color: royalblue;
}
th{
    width: 16%;
}
table, th, td {
    border: 1px solid darkorchid;
}
a{
    text-decoration: underline blue;
    color: blue;
}