{% extends 'base.html' %}

{% block page_title %}Lab 2{% endblock page_title %}

{% block page_body %}
<h1>{{ note.title }}</h1>
<article>From : {{ note.getFrom }}</article>
<article>To : {{ note.to }}</article>
<p>Message: {{note.message}}</p>

<a href="{% url "index-lab2" %}">Back to index page</a>
{% endblock page_body %}
