{% extends 'base.html' %}
{% block page_title %}Daftar Notes{% endblock page_title %}
{% block page_body %}
<div class="w-3/4 mx-auto mt-32">
<div class="my-5 flex flex-col">
<a href={% url 'index-lab2' %}>See lab2 index page</a>
<a href={% url 'xml-lab2' %}>See Lab2 XML</a>
<a href={% url 'json-lab2' %}>See Lab2 Json</a>
</div>
    <table class="table-fixed w-full">
    <thead>
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>(HTML)</th>
        <th>(XML)</th>
        <th>(JSON)</th>
      </tr>
    </thead>
    <tbody class="text-center">
      {% for note in notes%}
        <tr>
          <td>{{note.to}}</td>
          <td>{{note.getFrom}}</td>
          <td>{{note.title}}</td>
          <td><a href={% url 'note-detail' note.id %}>see HTML</a> </td>
          <td><a href={% url 'xml-lab2-detail' note.id %}>see XML</a> </td>
          <td><a href={% url 'json-lab2-detail' note.id %}>see JSON</a> </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
</div>
{% endblock page_body %}

