{% extends 'base.html' %}
{% block page_title %}Daftar Teman{% endblock page_title %}
{% block page_body %}
    <table>
      <tr>
        <th>Name</th>
        <th>NPM</th>
        <th>DOB</th>
      </tr>
      {% for friend in friends%}
        <tr>
          <td>  <a href="{{ friend.get_absolute_url }}">{{ friend.name }}</a> </td>
          <td>{{friend.npm}}</td>
          <td>{{friend.birthdate}}</td>
        </tr>
      {% endfor %}
    </table>
    <a href="{% url "index-lab1" %}">Back to index page</a>
{% endblock page_body %}


