{% extends 'base.html' %}

{% block page_title %}{{name}}{% endblock page_title %}

{% block page_body %}
<h1>Hello my name is {{ name }}</h1>
<article>NPM : {{ npm }}</article>
<article>I am {{ age }} years old</article>
    <a href="{% url "friend-list" %}"><h3>Go to my friends list!</h3></a>
{% endblock page_body %}

