<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
     <meta name="viewport" content="width=device-width">
    <title>{% block page_title %}{% endblock page_title %}</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/global.css'%}">

  </head>
  <body class="bg-blue-200">
  <nav class="flex justify-between bg-blue-400 text-white px-8 md:px-16">
  <div class="flex items-center">
     <img class="w-16 h-16 md:w-20 md:h-20 my-2 mr-3 rounded-full" src={% static 'images/shio2.jpg' %} alt="">
      <h1 class="font-bold text-xl text-white">Lab PBP Zidan</h1>
  </div>
   <div class="hidden md:flex items-center">
      <a class="mx-4 text-white underline hover:pointer" href={% url 'index-lab1' %}>Lab 1</a>
      <a class="mx-4 text-white underline hover:pointer" href={% url 'index-lab2' %}>Lab 2</a>
      <a class="mx-4 text-white underline hover:pointer" href={% url 'index-lab3' %}>Lab 3</a>
   </div>
  </nav>
  <div class="p-2 md:p-10 lg:p-16">
      {% block page_body %}
    Warning: No page_body is injected
    {% endblock page_body %}
  </div>
  </body>
  <script type="text/javascript" src="{% static 'script/main.js'%}"></script>
</html>
